body {
  justify-content: center;
  background-image: url("../images/nature-game-background_7814-520.jpg");
  font-family: "Pangolin", cursive;
}
header {
  font-size: 40pt;
  text-align: center;
  /* padding-top: 70px;
  padding-bottom: 30px; */
  margin: 20px;
  font-family: "Aladin", cursive;
}
div.characters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
button.character {
  font-family: "Pangolin", cursive;
  width: 120px;
  height: 140px;
  border: solid 1px;
  text-align: center;
  align-content: center;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  background-color: white;
}
img {
  width: 100px;
  height: auto;
}
